.form-underline{
   border-bottom: 1px solid black;
}
.hvr-underline:hover{
   text-decoration: underline;
}
.bull{
   display: list-item;          
   list-style-type: disc;
   list-style-position: inside;
}